<nav>
    <img src="/images/camera.svg">
    <a href="/monthlystatements" >All monthlystatements</a>
    <% if (user) { %>

      <a href="/monthlystatements/new" >ADD Monthlystatements</a>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>