<!DOCTYPE html>
<html>
  <head>
    <title>Duck Duck Twitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Duck Duck Twitter</h1>
    <p>Twitter but without the data privacy issues</p>
    <a href="monthlystatements">All Monthly Statements</a>
    <a href="monthlystatements/new">New Monthly Statement</a>


  </body>
</html>
