<%- include('../partials/header') %>


<form action="/comments/ /edit/?_method=PUT" method="POST" >
    <label> Content </label>
    <input type="text" name="content">
</form>

    <%- include('../partials/header') %>