<%- include('../partials/header') %>

    <h2>Enter a New Monthly Statement</h2>
    <form action="/monthlystatements" method="POST">
      <label>Content:
        <input type="text" name="content">
      </label><br>
      <input type="submit" value="Add monthlystatement">
    </form>

    <%- include('../partials/header') %>